In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv(r'diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
df.duplicated().sum()

0

In [6]:
def draw_boxplot(df):
    j = 1
    for col in df.columns[:]:
        plt.figure(figsize = (20,5))
        plt.subplot(4,2,j)
        sns.boxplot(x= df[col] )

        j+=1

In [7]:
def outlier_handle_num(df):
    data = df.copy()
    data = data.select_dtypes(include='number')

    for col in data.columns[:]:
        print(data[col])
        if data[col].skew() > 0.2 : # Assume 0.2 as the threshold 
            # IQR 
            q1 = data[col].quantile(0.25)
            q3 = data[col].quantile(0.75)
            iqr = q3 - q1 

            upper_whisker = q3 + 1.5* iqr
            lower_whisker = q1 - 1.5* iqr
            if lower_whisker < 0 :
                lower_whisker = 0 
            filt2 = data[col] >  upper_whisker 
            filt3 = data[col] <  lower_whisker

            out2 = data[filt2].index
            out3 = data[filt3].index
            data = data.drop(out2 , axis = 0)
            data = data.drop(out3 , axis = 0)


        else :
            # Z-Score
            mean = np.mean(data[col])
            std = np.std(data[col])

            upper_whisker = mean + 3 * std
            lower_whisker = mean - 3*std 

            filt2 = data[col] >  upper_whisker 
            filt3 = data[col] <  lower_whisker

            out2 = data[filt2].index
            out3 = data[filt3].index
            data = data.drop(out2 , axis = 0)
            data = data.drop(out3 , axis = 0)
    return data

In [8]:
df.skew()

Pregnancies                 0.901674
Glucose                     0.173754
BloodPressure              -1.843608
SkinThickness               0.109372
Insulin                     2.272251
BMI                        -0.428982
DiabetesPedigreeFunction    1.919911
Age                         1.129597
Outcome                     0.635017
dtype: float64

In [9]:
df = outlier_handle_num(df)

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64
0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: Glucose, Length: 764, dtype: int64
0      72
1      66
2      64
3      66
4      40
       ..
763    76
764    70
765    72
766    60
767    70
Name: BloodPressure, Length: 759, dtype: int64
0      35
1      29
2       0
3      23
4      35
       ..
763    48
764    27
765    23
766     0
767    31
Name: SkinThickness, Length: 724, dtype: int64
0        0
1        0
2        0
3       94
4      168
      ...
763    180
764      0
765    112
766      0
767      0
Name: Insulin, Length: 723, dtype: int64
0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 693, dtype: float64
0      0.627
1      0.351
2      0.672
3      0.167
4      2.288
       ...
763    0.171
764    0.340
765    0.245
766    0.349
767    0.315
Name: DiabetesPedigreeFunction, Length: 685, dtype: float64
0      50
1      31
2      32
3      21
5      30
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 656, dtype: int64
0      1
1      0
2      1
3      0
5      0
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 642, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 642 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               642 non-null    int64
 1   Glucose                   642 non-null    int64
 2   BloodPressure             642 non-null    int64
 3   SkinThickness             642 non-null    int64
 4   Insulin                   642 non-null    int64
 5   BMI                       642 non-null    float64
 6   DiabetesPedigreeFunction  642 non-null    float64
 7   Age                       642 non-null    int64
 8   Outcome                   642 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 50.2 KB